.about-container
  display: flex
  flex-diection:row
  padding: 1.5rem
  gap: 2rem
  

.Header-title
  width:100%  

.about-img
  width: 8rem
  height: 8rem
  border-radius:5px

.header-info
  display: flex
  gap: 1rem

.center
  display: flex
  flex-direction: column
  gap: 0.5rem
      