.About-container
  display: flex
  flex-diection:row
  padding: 1.5rem
  gap: 2rem
  font-size:1rem

.About-img
  width: 10rem
  height: 10rem
  border-radius:5px

.About-info
  display: flex
  gap: 1.5rem

.center
  display: flex
  flex-direction: column
  gap: 0.5rem
      