@import url('https://fonts.googleapis.com/css?family=Roboto');

*
  margin: 0
  padding: 0
  box-sizing: border-box

body

  color: black
  font-family: Roboto

.general-container
  display:flex
  flex-direction: column
  justify-content: space-between
  height: 100vh
  

.app-item
  display: flex
  



  