.Skills-container
  flex: 1
  display: flex
  flex-direction: column
  justify-content: left
  padding: 2rem
  margin-top: 1rem
  margin-left:2rem
  margin-right:2rem
  flex-wrap: wrap
  background-color: white
  border-radius: 8px
  background-color: rgba(238, 238, 238,0.5)
  box-shadow: 2px 2px 5px 0px rgba(22, 33, 62,0.7);
  





.Skills-title
  color: white
  padding:0.5rem 0.8rem
  background-color: rgb(15, 52, 96, 0.9)
  width: fit-content
  border-radius: 8px
  margin-bottom: 0.5rem


.Skills-items
  display: flex
  flex-direction: column
  gap: 0.5rem
  padding: 0.5rem
  color: black

.Skills-item
  display: flex
  flex-direction: row
  gap: 1rem
  padding: 0.5rem

.Skill-item-title
  color: white
  padding:0.5rem 0.8rem
  background-color: rgb(83, 52, 131, 0.9)
  width: fit-content
  border-radius: 8px